<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Forgotten Password?</title>

        {% load static %}
        <link rel="stylesheet" href="{% static './main-css/other_pages_styles.css' %}" />
        <link rel="stylesheet" href="{% static './css/bootstrap.css' %}" />
    </head>
    <body>
        <section class="container">
            <nav class="navbar navbar-expand-lg" style="background-color: white;">
                <div class="container-fluid">
                    <a class="navbar-brand"  href="{% url 'index' %}"><img src={% static "./images/Group 6.png" %} style="width:200px;"  class="img-fluid"  alt=""></a>            
                </div>
            </nav>  
            <div id="sign-in" class="row">
                <div class=" col-sm-6 p-5 details">
                    {% block body_content %}

                    {% endblock body_content %} 
                </div>
                <div class="col-sm-6 p-5">
                    <div>
                        <img src={% static "./IMGS/forgotten password.png" %} class="img-fluid" alt="A lady signing in on her mobile device">
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>