{% extends 'password.html' %}

{% block body_content %}
    {% if validlink%}
        <form action="" method="post" class="mt-4">
            <h3>Enter Your New Password</h3>
            {% csrf_token %}
            {{form}}
            <div class="d-flex justify-content-center">
                <input type="submit" value="Reset password" class="bc-white mt-2 ml-2 loginbutton">
            </div>
        </form>
    {% else %}
    <span class="date text-pink text-size-30px mt-5">The password reset link was invalid, possibly because it has been used.</span>
    {% endif %}
{% endblock body_content %}
