<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome! sign-up here.</title>

        {% load static %}
        <link href="{% static '../css2/all.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static './main-css/other_pages_styles.css' %}" />
        <link rel="stylesheet" href="{% static './css/bootstrap.css' %}" />
    </head>
    <body>
        <section class="container">
            <nav class="navbar navbar-expand-lg" style="background-color: white;">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'index' %}"><img src={% static "./images/Group 6.png" %}  style="width:200px;" class="img-fluid" alt=""></a>            
                </div>
            </nav>
            <div id="sign-in" class="row">
                <div class=" col-sm-6 p-5 details">
                    <form id="sign-in-form" class="form" method="post">
                        <h3>Sign up</h3>

                        {% csrf_token %}
                        {{register_form.username}}
                        {{register_form.phone}}
                        {{register_form.email}}
                        {{register_form.password1}}
                        {{register_form.password2}}
                        
                        <p>
                            <input type="checkbox" name="Agreement" class="agreement">I agree to the Terms of Service and Privacy & Security Policy
                        </p>
                        <div>
                            <input type="submit" value="Sign-up"></input>
                        </div>
                    </form>
                    <h5>Have an account already? <a href="{% url 'login' %}" target="_blank">Go to login</a></h5>

                    <div class="sign-in-buttons btns">
                        <a href=""target="_blank"><button type="submit" class="google">Continue With Google</button></a>

                        <a href="" target="_blank"><button type="submit" class="facebook">Continue With Facebook</button></a>

                        <a href="" target="_parent"><button type="submit" class="insta"><i class="fa-brands fa-square-instagram"></i>Continue With Instagram</button></a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div>
                        <img src={% static "./IMGS/sign-up.png" %} class="img-fluid" style="margin-top: 70px;" alt="A lady signing in on her mobile device ">
                    </div>
                </div>
            </div>
        </section>
    </body> 
</html>